{% extends "templates/bootstrap/base.twig" %}

{% block content %}
  <div class="row">
    
    
    <div class="col-xs-8">
    {% block main %}{% endblock main %}
  </div>
  <div id="sidebar" class="col-xs-4">

  </div>
</div>
{% endblock content %}