{% extends "apps/wp/templates/pipeline/base.twig" %}

{% block main %}
  
  {% if delivery_method == "ffa" %}
    <div class="alert alert-success">Email Sent</div>
  {% elseif delivery_method == "email" %}
    <div class="alert alert-success">Email Sent</div>  
  {% endif %}
  
    <div class="well">
      <h4><b>{{ promotion.name }}</b></h4>
      <div class="marketplace-item-image-container">
        <img style="max-width: 140px; max-height: 140px;" src="{{ promotion.icon.url }}" alt="..." class="img-rounded">
      </div>
    </div>
  
    <div class="well"><p><b>Quantity : </b>{{ quantity }}</p></div>
  
    <h3>Delivery Message</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      {{ delivery_message }}
    </div>
  </div>
  
  {% if delivery_method == "ffa" %}
    <h3>Email</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      
    </div>
  </div>
  
  <h3>Facebook Post</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      
    </div>
  </div>
  
  <h3>Javascript</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      Some javascript here.
    </div>
  </div>
  
  <h3>Plain URL</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      
    </div>
  </div>
  {% endif %}
{% endblock main %}