{% extends "themes/blink/templates/bootstrap/base.twig" %}

{% block extra_javascript %}
  {% include 'apps/blink-user/templates/facebook/app.twig' %}
  <script src="/apps/blink-user/static/blink/js/facebook.js"></script>
  
  <script src="/apps/blink-mailchimp/static/js/mailchimp.js"></script>
  
  <script src="/apps/wp/static/wp/js/facebook.js"></script>
  <script src="/apps/wp/static/wp/js/twitter.js"></script>
  <script src="/apps/wp/static/wp/js/instagram.js"></script>
  <script src="/apps/wp/static/wp/js/mailchimp.js"></script>
  <script src="/apps/wp/static/wp/js/pipeline.js"></script>
  
  <script src="/apps/wp/static/wp/js/progress.js"></script>
  
  <script src="/static/angular/angular.js"></script>
  <script src="/static/angular/angular-resource.js"></script>
  <script src="/static/angular/angular-route.js"></script>
  
  {% block sub_extra_javascript %}{% endblock sub_extra_javascript %}
  
{% endblock extra_javascript %}

{% block extra_css %}
{#  <link href="/apps/wp/static/progress/css/progress.css" rel="stylesheet" media="screen">#}
{#  <link href="/apps/wp/static/stepwizard/css/stepwizard.css" rel="stylesheet" media="screen">#}
<link href="/apps/wp/static/yamm/css/yamm.css" rel="stylesheet" media="screen">
  
<style>
blockquote {padding: 1px;}
</style>

  {% block sub_extra_css %}{% endblock sub_extra_css %}
{% endblock extra_css %}

{% block content %}
  
  <nav class="navbar yamm navbar-default " role="navigation">
    <ul class="nav nav-justified">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Module
            <span class="caret"></span>
          </a>
            <ul class="dropdown-menu">
                <li>
                    <div class="yamm-content" id="progress-module-view">
                      
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Profile
            <span class="caret"></span>
          </a>
            <ul class="dropdown-menu">
                <li>
                    <div class="yamm-content" id="progress-profile-view">
                      
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Marketplace
            <span class="caret"></span>
          </a>
            <ul class="dropdown-menu">
                <li>
                    <div class="yamm-content" id="progress-marketplace-view">
                      
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Checkout
            <span class="caret"></span>
          </a>
            <ul class="dropdown-menu">
                <li>
                    <div class="yamm-content">
                      
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Confirmation
            <span class="caret"></span>
          </a>
            <ul class="dropdown-menu">
                <li>
                    <div class="yamm-content">
                      
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</nav>
  
<script type="text/template" id="progress-module-template">
  <h3><%= data.name %></h3>
  <p><%= data.description %></p>
  <a href="/wp/" class="btn btn-primary btn-block">Change</a>
</script>

<script type="text/template" id="progress-profile-template">
  <div class="media">
    <div class="media-left media-middle">
      <a href="#" target="_blank">
        <% if (data.image.name) { %>
          <img class="media-object img-thumbnail" style="max-height: 70px;" src="<%= data.image.url %>" alt="...">
        <% } else { %>
          <img class="media-object img-thumbnail" style="max-height: 70px;" src="/apps/wp/static/wp/images/profile.jpg" alt="...">
        <% } %>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= data.name %></h4>
    </div>
  </div>
  <a href="/wp/profile/" class="btn btn-primary btn-block">Change</a>
</script>

  <form class="form" role="form" method="post" action="{{ form.post_url }}">
    <div class="row">
      <div class="col-xs-2">
        {% if form.cancel_url and current_step != "done" %}
          <a id="previous_button" href="{{ form.cancel_url }}" class="btn btn-warning btn-block {% if not form.cancel_url %}disabled{% endif %}" style="font-size: large;">Back</a>
        {% endif %}
      </div>
      <div class="col-xs-7"></div>
      <div class="col-xs-3">
        {% if form.post_url and current_step != "done" %}
          <button id="next_button" class="btn btn-primary btn-block {% if not form.post_url %}disabled{% endif %}" style="font-size: large;">{% if next_step == "done" %}Finish{% else %}Continue{% endif %}</button>
        {% endif %}
      </div>
    </div>
    <br />

    <div class="row">
      <div class="col-xs-12">
      {% block main %}{% endblock main %}
    </div>
  </div>
</form>
{% endblock content %}