{% extends "apps/wp/templates/pipeline/form.twig" %}

{% block main %}
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="btn-group">
        <button type="button" class="btn btn-default">Category</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          {% for mypromotioncategory in promotioncategory_list %}
            <li><a href="/wp/marketplace/?promotioncategory_id={{ mypromotioncategory.id }}">{{ mypromotioncategory.name }}</a></li>
            {% endfor %}
        </ul>
        &nbsp;&nbsp;
        <h3 style="display: inline"><span class="label label-info">{{ promotioncategory }}</span></h3>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      {% if promotioncategory.name == "Tango Card" %}
        {% include 'apps/wp/templates/pipeline/includes/marketplace/tangocard/index.twig' %}
      {% elseif promotioncategory.name == "Scalable Press" %}
        {% include 'apps/wp/templates/pipeline/includes/marketplace/scalablepress/index.twig' %}
      {% elseif promotioncategory.name == "I Feel Goods" %}
        {% include 'apps/wp/templates/pipeline/includes/marketplace/ifeelgoods/index.twig' %}
      {% elseif promotioncategory.name == "Scalable Press" %}
        {% include 'apps/wp/templates/pipeline/includes/marketplace/scalablepress/index.twig' %}
      {% else %}
        {% include 'apps/wp/templates/pipeline/includes/marketplace/wapo/index.twig' %}
      {% endif %}

    </div>
  </div>


{% endblock main %}

{% block sub_extra_javascript %}
  <script>
    $(function () {
    {#$(".marketplace-item").click(function() {
      $(".marketplace-item").css('background-color', 'white');
      $(this).css('background-color', '#cccccc');
      $("#promotion_id").val(parseInt($(this).attr("id")));
    });
    
    $('.promotion-description').each(function() {
      var all = $(this).html();
      if(all.length > 145) {
        var partial = all.substr(0, 145);
        $(this).html(partial);
        $(this).append(' <span style="font-weight: bold;" title="' + all + '">...</span>');
      }
    });#}

        sidebar_init();
      });
  </script>
{% endblock sub_extra_javascript %}