{% extends "templates/bootstrap/base.twig" %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-body">
      
      <div class="row content-boxes-v2 margin-bottom-30">
        <div class="col-md-4 md-margin-bottom-30">                
          <h2 class="heading-sm">
            <i class="icon-custom icon-sm icon-color-u fa fa-gift"></i>
            <span>Giveaway</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
          <a href="/wp/marketplace/">Continue</a>
        </div>
        <div class="col-md-4 md-margin-bottom-30">
          <h2 class="heading-sm">
            <i class="icon-custom icon-sm icon-color-u fa fa-shopping-cart"></i> 
            <span>Product Sale</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
          <a href="/wp/marketplace/">Continue</a>
        </div>
        <div class="col-md-4">
          <h2 class="heading-sm">
            <i class="icon-custom icon-sm icon-color-u fa fa-credit-card"></i>
            <span>Coupons</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
          <a href="/wp/marketplace/">Continue</a>
        </div>
      </div>

      <div class="row content-boxes-v2 margin-bottom-30">
        <div class="col-md-4 md-margin-bottom-30">                
          <h2 class="heading-sm">
            <i class="icon-custom icon-sm icon-color-u fa fa-bullhorn"></i>
            <span>Announce a Special</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
          <a href="/wp/marketplace/">Continue</a>
        </div>
        <div class="col-md-4 md-margin-bottom-30">
          <h2 class="heading-sm">
            <i class="icon-custom icon-sm icon-color-u fa fa-bullhorn"></i> 
            <span>Product Announcement</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
          <a href="/wp/marketplace/">Continue</a>
        </div>
        <div class="col-md-4">
          <h2 class="heading-sm">
            <i class="icon-custom icon-sm icon-color-u fa fa-bullhorn"></i>
            <span>Simple Announcement</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
          <a href="/wp/marketplace/">Continue</a>
        </div>
      </div>


    </div>
  </div>
{% endblock content %}