<div class="row">
  <div class="col-xs-6">
    <img ng-src="{{profile.image.full_url}}" alt="No Image" class="img-responsive" />
  </div>
  <div class="col-xs-6">
    <!--<h2 style="padding-left: 10%;"><strong>Sender Info</strong></h2>-->
    <h2 style="text-align: center; padding-bottom:1%; text-decoration: underline;">Your  Product Detail</h2>
    
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 text-left">
        <label class="col-xs-12">{{profile.name}}</label>
        <label class="col-xs-12">{{profile.url}}</label>
        <label class="col-xs-12" ng-repeat="social_link in social_link_list">{{social_link.link}}</label>
      </div>
    </div>
  </div>
</div>

<hr />