<div ng-include="'/apps/wp/templates/wapo/includes/navigation.html'"></div>

<div class="panel panel-default">
  <div class="panel-heading text-center">
    <strong ng-if="account">You are logged in as</strong>
    <strong ng-if="!account">Please log in to your Twitter account</strong>
  </div>

  <div class="panel-body">
    <div class="row" ng-if="account">
      <div class="col-md-8 col-md-offset-2 text-center" ng-include="'/apps/wp/templates/wapo/includes/twitter-profile.html'"></div>
    </div>
    
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4" ng-if="account">
        <button class="btn btn-block btn-twitter"ng-click="setPath('/delivery/any-twitter-followers', '/twitter/logout/?skip=1&return=/wp/wapo/')">
          <i class="fa fa-twitter"></i> Sign Out
        </button>
      </div>

      <div class="col-xs-offset-4 col-xs-4" ng-if="!account">
        <button class="btn btn-block btn-twitter" ng-click="setPath('/delivery/any-twitter-followers', '/twitter/?skip=1&return=/wp/wapo/')">
          <i class="fa fa-twitter"></i> Twitter
        </button>
      </div>
    </div>
    
    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input type="number" class="form-control" id="quantity" ng-model="quantity" placeholder="Quantity">
    </div>

    <div class="form-group">
      <label>Delivery Message</label>
      <textarea class="form-control" rows="5" ng-model="delivery_message"></textarea>
    </div>
    
  </div>
</div>
