<div ng-include="'/apps/wp/templates/wapo/includes/navigation.html'"></div>

<div class="panel panel-default">
  <div class="panel-heading">
    Select a profile for your Wapo.
  </div>
  <div class="panel-body" ng-if="user && profile_list.length">
    <div class="list-group">
      <div class="list-group-item" ng-repeat="profile in profile_list" ng-class="{}">
        <h4 class="list-group-item-heading">{{profile.name}}</h4>
        <p class="list-group-item-text">{{profile.description}}</p>
      </div>
    </div>
  </div>
  <div class="panel-body" ng-if="!user">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-4">
        <a class="btn btn-info btn-block" href="/user/login/?return=/wp/wapo/#/profile">Log in to get your profiles!</a>
      </div>
      <div class="col-xs-4">
        <a class="btn btn-info btn-block" href="#/profile-new">Add a new profile!</a>
      </div>
    </div>
  </div>
  <div class="panel-body" ng-if="user && !profile_list.length">
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4">
        <a class="btn btn-info btn-block" href="#/profile-new">Add a new profile!</a>
      </div>
    </div>
  </div>
</div>