<div class="alert alert-success">
  <i class="fa fa-2x fa-check-circle"></i> Congratulations!. Wapo has been prepared.
</div>

<div class="row">
  <div class="col-xs-6">
    <ul class="list-group" ng-if="wapo.payment_method.tag == 'wepay'">
      <li class="list-group-item"><h3>Payer Name <small>{{ wapo.checkout.payer_name}}</small></h3></li>
      <li class="list-group-item"><h3>Payer Email <small>{{ wapo.checkout.payer_email}}</small></h3></li>
      <li class="list-group-item"><h3>Descriptor <small>{{ wapo.checkout.soft_descriptor}}</small></h3></li>
      <li class="list-group-item"><h3>Charge <small>{{ wapo.checkout.gross | currency:"$":2}}</small></h3></li>
      <li class="list-group-item"><h3>Cost <small>{{ wapo.checkout.amount | currency:"$":2}}</small></h3></li>
      <li class="list-group-item"><h3>Fee <small>{{ wapo.checkout.fee | currency:"$":2}}</small></h3></li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="text-center" style="width: 100%;">
      <img class="img-responsive" ng-src="{{wapo.tangocardrewards.brand_image_url}}" alt="">
    </div>
    <ul class="list-group">
      <li class="list-group-item"><h3>Reward <small>{{wapo.tangocardrewards.description}}</small></h3></li>
      <li class="list-group-item"><h3>Delivery Method <small>{{ wapo.delivery_method}}</small></h3></li>
      <li class="list-group-item"><h3>Quantity <small>{{ wapo.quantity}}</small></h3></li>
      <li class="list-group-item"><h3>Download URL <small>{{ wapo.bitlyurl}}</small></h3></li>
    </ul>
  </div>
</div>