<div class="row" ng-init="mainInit()">
  <div class="col-xs-12">
    <div ng-include="'/apps/wp/templates/wapo/includes/navigation.html'"></div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-9">
    
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="email-heading" ng-click="setDelivery('email')" style="cursor: pointer;">
          <div class="row">
            <div class="col-xs-11">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="email">
                  Email
                </a>
              </h4>
            </div>
            <div class="col-xs-1 text-right">
              <i class="fa" ng-class="{'fa-angle-down': delivery == 'email', 'fa-angle-right': delivery != 'email'}"></i>
            </div>
          </div>
        </div>
        <div id="email" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="emailHeading">
          <div class="panel-body">
            
            <p>Send a Wapo to up to 4 emails.</p>

            <div ng-include="'/apps/wp/templates/wapo/includes/delivery-email.html'" ng-show="delivery == 'email'"></div>
            
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="email-list-heading" ng-click="setDelivery('email-list')" style="cursor: pointer;">
          
          <div class="row">
            <div class="col-xs-11">
              <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="email-list">
              Email List
            </a>
          </h4>
            </div>
            <div class="col-xs-1 text-right">
              <i class="fa" ng-class="{'fa-angle-down': delivery == 'email-list', 'fa-angle-right': delivery != 'email-list'}"></i>
            </div>
          </div>
        </div>
        <div id="email-list" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="emailListHeading">
          <div class="panel-body">
            
            <p>Send a Wapo to a list of comma separated emails.</p>

            <div ng-include="'/apps/wp/templates/wapo/includes/delivery-email-list.html'" ng-show="delivery == 'email-list'"></div>
            
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="textHeading" ng-click="setDelivery('text')" style="cursor: pointer;">
          <div class="row">
            <div class="col-xs-11">
              <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="text">
              Text
            </a>
          </h4>
            </div>
            <div class="col-xs-1 text-right">
              <i class="fa" ng-class="{'fa-angle-down': delivery == 'text', 'fa-angle-right': delivery != 'text'}"></i>
            </div>
          </div>
        </div>
        <div id="text" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">

            <p>Send a Wapo to Phone number(s).</p>

            <div ng-include="'/apps/wp/templates/wapo/includes/delivery-text.html'" ng-show="delivery == 'text'"></div>
          </div>
        </div>
      </div>
    </div>
    
    <!--<div ng-init="initAccordion()"></div>-->
  </div>
  <div class="col-md-3 col-sm-12 wapo-sidebar" ng-include="'/apps/wp/templates/wapo/includes/sidebar.html'"></div>
</div>