<div ng-include="'/apps/wp/templates/wapo/includes/navigation.html'"></div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-4">
          <ul class="nav nav-pills nav-stacked" id="delivery_tabs">
            <li ng-class="{'active': active('free-for-all')}"><a ng-click="main_delivery = 'free-for-all'" data-toggle="tab">Free For All</a></li>
            <li ng-class="{'active': active('email')}"><a ng-click="main_delivery = 'email'" data-toggle="tab">Email</a></li>
            <li ng-class="{'active': active('text')}"><a ng-click="main_delivery = 'text'" data-toggle="tab">Text</a></li>
            <li ng-class="{'active': active('facebook')}"><a ng-click="main_delivery = 'facebook'" data-toggle="tab">Facebook</a></li>
            <li ng-class="{'active': active('twitter')}"><a ng-click="main_delivery = 'twitter'" data-toggle="tab">Twitter</a></li>
            <!--<li ng-class="{'active': active('instagram')}"><a href="#instagram" data-toggle="tab">Instagram</a></li>-->
          </ul>
        </div>
          
        <div class="col-xs-8">
          <div class="tab-content">
            <div class="" id="free-for-all" ng-if="active('free-for-all')">
              <h5>Free for all</h5>
              <div class="list-group">
                <div class="list-group-item">
                  <p class="list-group-item-text">Create a link that you can distribute in any medium you choose. Set a cap to limit how many Wapo(s) are sent.</p>
                  
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="delivery" value="free-for-all" ng-checked="checked('free-for-all')" ng-click="setDelivery('free-for-all')" /> <b>Select</b>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="" id="email" ng-if="active('email')">
              <h5>Email</h5>
              <div class="list-group">
                <div class="list-group-item">
                  <p class="list-group-item-text">Send a Wapo to an email or email list. Each user must authenticate through their email to confirm account.</p>
                  <p>
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="delivery" value="e" ng-checked="checked('email')" ng-click="setDelivery('email')" /> <b>Select</b>
                    </label>
                  </div>
                  </p>
                </div>
              </div>

              <h5>Email List</h5>
              <div class="list-group">
                <div class="list-group-item">
                  <p class="list-group-item-text">Send a Wapo to a list of emails.</p>
                  <p>
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="delivery" value="el" ng-checked="checked('email-list')" ng-click="setDelivery('email-list')" /> <b>Select</b>
                    </label>
                  </div>
                  </p>
                </div>
              </div>
                    
              <h5>MailChimp</h5>
              <div class="list-group">
                <div class="list-group-item">
                  <p class="list-group-item-text">Log in to your MailChimp account and send emails to your list.</p>
                  <p>
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="delivery" value="mailchimp" ng-checked="checked('mailchimp')" ng-click="setDelivery('mailchimp')" /> <b>Select</b>
                    </label>
                  </div>
                  </p>
                </div>
              </div>
            </div>
                    
            <div class="" id="text" ng-if="active('text')">
              <h5>Text</h5>
              <div class="list-group">
                <div class="list-group-item">
                  <p class="list-group-item-text">Send a Wapo to Phone number(s).</p>
                  <p>
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="delivery" ng-checked="checked('text')" ng-click="setDelivery('text')" /> <b>Select</b>
                    </label>
                  </div>
                  </p>
                </div>
              </div>
            </div>
                    
            <div class="" id="facebook" ng-if="active('facebook')">
              <h5>Facebook Friends</h5>
              <div class="list-group">
                <div class="list-group-item">
                  <p class="list-group-item-text">Login to Facebook to send a wapo to any of your Friends. Buy the maximum number of Wapos and any of your friends can download the wapos up to the maximum. Anyone who clicks on link must be validated (they must log in through Facebook) and validated as your friend.</p>
                  <p>
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="delivery" value="aff" ng-checked="checked('any-facebook-friends')" ng-click="setDelivery('any-facebook-friends')" /> <b>Select</b>
                    </label>
                  </div>
                  </p>
                </div>
              </div>

              <h5>Facebook Pages</h5>
              <div class="list-group">
                <div class="list-group-item">
                  <p class="list-group-item-text">Login to Facebook to send a wapo to page followers. Buy a maximum number of Wapos you would like to send and anyone who has liked your page can download the wapo. Anyone who clicks on link must be validated (they must log in through Facebook) and validated to like your page.</p>
                  <p>
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="delivery" value="fp" ng-checked="checked('facebook-page')" ng-click="setDelivery('facebook-page')" /> <b>Select</b>
                    </label>
                  </div>
                  </p>
                </div>
              </div>
            </div>
            
            <div class="" id="twitter" ng-if="show('twitter')">
              <h5>Twitter Followers</h5>
              <div class="list-group">
                <div class="list-group-item">
                  <p class="list-group-item-text">Login through Twitter and post a link for a Wapo. Buy the maximum number of Wapos for any of your followers to download. Only your followers (Authenticated and confirmed) can download the Wapo.</p>
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="delivery" value="atf" ng-checked="checked('any-twitter-followers')" ng-click="setDelivery('any-twitter-followers')" /> <b>Select</b>
                    </label>
                  </div>
                  </p>
                </div>
              </div>
                    
              <h5>Selected Twitter Followers</h5>
              <div class="list-group">
                <div class="list-group-item">
                  <p class="list-group-item-text">Login through Twitter and post a link for a Wapo. Only the selected followers (Authenticated and confirmed) can download the Wapo.</p>
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="delivery" value="stf" ng-checked="checked('select-twitter-followers')" ng-click="setDelivery('select-twitter-followers')" /> <b>Select</b>
                    </label>
                  </div>
                  </p>
                </div>
              </div>
            </div>
            <div class="" id="instagram" ng-if="active('instagram')">
              <h4>Instagram</h4>
              <div class="list-group">
                <div class="list-group-item">
                  <h5 class="list-group-item-heading">Any Followers</h5>
                  <p class="list-group-item-text">Login through Instagram and post a link for a Wapo. Buy the maximum number of Wapos for any of your followers to download. Only your followers (Authenticated and confirmed) can download the Wapo.</p>
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="delivery" value="aif" ng-checked="!enabled('any-instagram-friends')" /> <b>Select</b>
                    </label>
                  </div>
                </div>
                <div class="list-group-item">
                  <h5 class="list-group-item-heading">Followers</h5>
                  <p class="list-group-item-text">Login through Instagram and post a link for a Wapo. Only the selected followers (Authenticated and confirmed) can download the Wapo.</p>
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="delivery" value="sif" ng-checked="!enabled('instagram')" /> <b>Select</b>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>