<div ng-include="'/apps/wp/templates/wapo/includes/navigation.html'"></div>

<div class="panel panel-default">
  <div class="panel-heading text-center">
    <strong ng-if="profile">You are logged in as</strong>
    <strong ng-if="!profile">Please log in to your Facebook profile</strong>
  </div>

  <div class="panel-body">
    <div class="row" ng-if="profile">
      <div class="col-md-8 col-md-offset-2 text-center" ng-include="'/apps/wp/templates/wapo/includes/facebook-profile.html'"></div>
    </div>
    
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4" ng-if="profile">
        <button class="btn btn-block btn-twitter" ng-click="setPath('/delivery/facebook-page', '/facebook/logout/?skip=1&return=/wp/wapo/')">
          <i class="fa fa-facebook"></i> Sign Out
        </button>
      </div>

      <div class="col-xs-offset-4 col-xs-4" ng-if="!profile">
        <button class="btn btn-block btn-twitter" ng-click="setPath('/delivery/facebook-page', '/facebook/?skip=1&return=/wp/wapo/')">
          <i class="fa fa-facebook"></i> Facebook
        </button>
      </div>
    </div>
    
    <hr ng-if="profile" />
    
    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input type="number" min="1" class="form-control" id="quantity" ng-model="quantity" placeholder="Quantity">
    </div>

    <div class="form-group">
      <label>Delivery Message</label>
      <textarea class="form-control" rows="5" ng-model="delivery_message"></textarea>
    </div>

    <br />

    <div class="form-group" ng-if="profile">
      <input type="text" class="form-control" placeholder="Filter Pages" ng-model="search_text" ng-change="search(search_text)">
    </div>

    <div class="row profile" ng-repeat="chunk in chunked_page_list">
      <div class="col-xs-4" ng-repeat="item in chunk">
        <div class="alert-blocks alert-dismissable" ng-class="{'alert-blocks-info': (item.id == page.id)}" ng-click="setPage(item)" style="cursor: pointer;">
          <button aria-hidden="true" class="close" type="button" ng-if="item.id == page.id" disabled><i class="fa fa-check"></i></button>
          <!--<img class="rounded-x" src="{{item.profile_image_url_https}}" alt="">-->
          <div class="overflow-h">
            <strong class="color-dark">{{item.name}}</strong>
            <p>{{item.category}}</p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
