<div ng-include="'/apps/wp/templates/wapo/includes/navigation.html'"></div>

<div class="panel panel-default">
  <div class="panel-heading">

    <div class="row">
      <div class="col-xs-2">
        <label>MailChimp List:</label>
      </div>
      <div class="col-xs-10">
        <select ng-model="subscription" class="form-control" ng-options="subscription as subscription.name for subscription in subscription_list track by subscription.id" ng-change="getSubscriptionEmails()"></select>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div>
      <span class="label label-default">{{ email_list.length}} <em>of</em> {{ max_count}}</span>
      <span ng-repeat="item in selected_email_list">
        <span class="label label-light">
          {{item.merges.FNAME}} {{item.merges.LNAME}} <em>({{item.email}})</em>
          <i class="fa fa-times" ng-click="removeEmail(item)" style='cursor: pointer;'></i>
        </span>
        <span ng-if="!$last">,</span>
      </span>
    </div>
    <br />

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Filter Contacts" ng-model="search_text" ng-change="search(search_text)">
    </div>

    <div class="row" ng-repeat="chunk in chunked_email_list">
      <div class="col-xs-4" ng-repeat="item in chunk">
        <div class="panel panel-default" ng-css="{'panel-light': email_list.indexOf(item.email) > -1}" style='cursor: pointer;' ng-click="addEmail(item)">
          <div class="panel-body">
            <div ng-if="item.merges.FNAME || item.merges.LNAME">{{item.merges.FNAME}} {{item.merges.LNAME}} </div>
            <em>({{item.email}})</em>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
