<div ng-include="'/apps/wp/templates/wapo/includes/navigation.html'"></div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-4">
        <div class="btn-group">
          <button type="button" class="btn btn-default">Goods</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#/marketplace/promotion">Goods</a></li>
            <li><a href="#/marketplace/tangocards">Gift Cards</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-8">
        <select class="form-control" ng-options="item as item.name for item in promotioncategory_list track by item.id" ng-model="promotioncategory" ng-change="changePromotionCategory()"></select>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="row" ng-repeat="chunked_promotion in chunked_promotion_list">
      <div class="col-sm-12 col-md-4" ng-repeat="prom in chunked_promotion">
        <div class="panel panel-default" ng-class="{'panel-contrast': prom.id == promotion.id}" ng-click="selectPromotion(prom)" style="cursor: pointer;">
          <div class="panel-body" style="overflow: auto;">
            <img class="img-responsive" ng-src="{{prom.icon.full_url}}" alt="">
        
            <div>
              <h2><span class="color-dark">{{prom.name}}</span></h2>
              <h6>$ {{prom.price}}</h6>
              <small>{{prom.description}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
