<div ng-include="'/apps/wp/templates/wapo/includes/navigation.html'"></div>

<div class="panel panel-default">
  <div class="panel-heading">
    <!--<select ng-options="brand as brand.brand_description for brand in brand_list track by brand.id"></select>-->
    <select ng-model="selected_brand_description" class="form-control">
      <option ng-repeat="brand in brand_list">{{brand.brand_description}}</option>
    </select>
  </div>

  <div class="panel-body">
<!--    <div class="row content-boxes-v1 margin-bottom-40" ng-repeat="tangocards_group in tangocards_group_list">
      <div class="col-sm-4 sm-margin-bottom-40" style="cursor: pointer;" ng-repeat="tangocards in tangocards_group| filter: selected_brand" ng-click="setTangoCards(tangocards)" ng-css="{'service-yellow': tangocards.id == 5}">
        <div class="text-right">
          &nbsp; <i class="fa fa-2x fa-check" ng-if="tangocards.id == wapo.tangocards.id"></i>
        </div>

        <h2 class="heading-sm">
          <img src="{{tangocards.brand_image_url}}" alt="..."/>
          <span>{{tangocards.name}}</span>
        </h2>
        <p>{{tangocards.description}}</p>
      </div>
    </div>-->

    <div class="row" ng-repeat="tangocards_group in tangocards_group_list">
      <div class="col-md-4" style="cursor: pointer;" ng-repeat="tangocards in tangocards_group">
        <div class="thumbnails thumbnail-style text-center">
          <div style="text-align: center;"><img class="" src="{{tangocards.brand_image_url}}" alt="" style="display: inline-block; max-width: 100%;" /></div>
          <div class="caption">
            <h3>{{tangocards.name}}</h3>
            <p>{{tangocards.description}}</p>
            <p><button class="btn btn-primary btn-block btn-lg" ng-if="tangocards.id != wapo.tangocards.id" ng-click="setTangoCards(tangocards)">Select</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
