<div ng-include="'/apps/wp/templates/wapo/includes/navigation.html'"></div>

<div ng-include="'/apps/wp/templates/wapo/includes/navigation-buttons.html'"></div>

<div class="panel panel-default">
  <div class="panel-heading">
    <!--<select ng-options="brand as brand.brand_description for brand in brand_list track by brand.id"></select>-->
    
    <div class="row">
      <div class="col-xs-4">
        <div class="btn-group">
          <button type="button" class="btn btn-default">Gift Cards</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#/marketplace/promotion">Goods</a></li>
            <li><a href="#/marketplace/tangocards">Gift Cards</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-8">
        <select ng-model="selected_brand_description" class="form-control">
          <option ng-repeat="brand in brand_list">{{brand.brand_description}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="panel-body profile">
    <div class="row" ng-repeat="tangocards_group in tangocards_group_list">
      <div class="col-sm-12 col-md-4" ng-repeat="tcards in tangocards_group">
        <div class="panel panel-default" ng-class="{'panel-contrast': tcards.id == tangocards.id}" ng-click="selectTangoCards(tcards)" style="cursor: pointer;">
          <img class="img-responsive" ng-src="{{tcards.brand_image_url}}" alt="">
          <div style="padding-left: 5px;">
            <h4><span class="color-dark">{{tcards.description}}</span></h4>
            <!--<p>{{tcards.description}}</p>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
