<div ng-include="'/apps/wp/templates/wapo/includes/navigation.html'"></div>

<div class="panel panel-default">
  <div class="panel-heading">
    <!--<select ng-options="brand as brand.brand_description for brand in brand_list track by brand.id"></select>-->
    <select ng-model="selected_brand_description" class="form-control">
      <option ng-repeat="brand in brand_list">{{brand.brand_description}}</option>
    </select>
  </div>

  <div class="panel-body profile">
    <div class="row" ng-repeat="tangocards_group in tangocards_group_list">
      <div class="col-sm-4" ng-repeat="tcards in tangocards_group" ng-click="selectTangoCards(tcards)" style="cursor: pointer;">
        <div class="easy-block-v1">
          <img class="img-responsive" ng-src="{{tcards.brand_image_url}}" alt="">
          <div class="easy-block-v1-badge rgba-red" ng-if="tcards.id == tangocards.id">Selected</div>
        </div>
        <div class="projects">
          <h2><span class="color-dark">{{tcards.name}}</span></h2>
          <p>{{tcards.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
