<div class="row">
  <div class="col-xs-12">
    <div ng-include="'/apps/wp/templates/wapo/includes/navigation.html'"></div>
  </div>
</div>

<div>
  <div class="col-sm-12 col-md-9">
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6 col-sm-4">
            <div ng-include="'/apps/wp/templates/wapo/includes/marketplace-categories.html'"></div>
          </div>
          <div class="col-xs-6 col-sm-8">
            <select class="form-control" ng-options="item as item.name for item in promotiontype_list track by item.id" ng-model="promotiontype" ng-change="changePromotionType()"></select>
          </div>
        </div>
      </div>

      <div class="panel-body" style="height: 400px; overflow-y: auto;">
        <div class="row" ng-repeat="chunked_promotion in chunked_promotion_list">
          <div class="col-sm-12 col-md-4" ng-repeat="prom in chunked_promotion" ng-click="selectPromotion(prom)" style="cursor: pointer;">

            <div class="panel panel-default marketplace-item-container" style="height: 400px; padding: 5px; overflow: hidden;">
              <div class="easy-block-v1 marketplace-image-container">
                <img class="img-responsive marketplace-image" ng-src="{{prom.icon.full_url}}" alt="">
                <div class="easy-block-v1-badge rgba-red" ng-if="prom.id == promotion.id">Selected</div>
              </div>
              <div class="projects">
                <h2><span class="color-dark">{{prom.name}} ${{prom.price}}</span></h2>
<!--                <h6>${{prom.price}}</h6>-->
                <small>{{prom.description}}</small>
              </div>
            </div>




            <!--        <div class="panel panel-default" ng-class="{'panel-contrast': prom.id == promotion.id}" ng-click="selectPromotion(prom)" style="cursor: pointer;">
                      <div class="panel-body" style="overflow: auto;">
                        <img class="img-responsive" ng-src="{{prom.icon.full_url}}" alt="">
                    
                        <div>
                          <h2><span class="color-dark">{{prom.name}}</span></h2>
                          <h6>$ {{prom.price}}</h6>
                          <small>{{prom.description}}</small>
                        </div>
                      </div>
                    </div>-->
          </div>
        </div>
      </div>
    </div>
    <span ng-init="initMarketplaceImages()"></span>
  </div>
  
  <div class="col-md-3 col-sm-12" ng-include="'/apps/wp/templates/wapo/includes/sidebar.html'"></div>
</div>