<div ng-include="'/apps/wp/templates/wapo/includes/navigation.html'"></div>

<ul id = "myTab" class = "nav nav-tabs">
   <li class="btn-contrast.btn-bordered">
      <a href = "#/profile" data-toggle = "tab" class="btn-contrast.btn-bordered">
       Select Profile
      </a>
   </li>
   
   <li class="active btn-contrast.btn-bordered"><a href = "#/profile-new" data-toggle = "tab" >Create Profile</a></li>
</ul>

<form>

  <div class="row">
    <div class="col-xs-6">
      <div class="row" ng-show="file || (!file && !wapo.profile.new.image)">
        <div class="col-xs-12 text-center">
          <p><small ng-show="file || (!file && !wapo.profile.new.image)">Temporary image</small></p>
          <img ngf-thumbnail="file || '/apps/wp/static/images/placeholder/placehold.png'" ngf-size="{quality: 0.9}" class="img-responsive" />
        </div>
      </div>

      <div class="row" ng-show="wapo.profile.new.image && !file">
        <div class="col-xs-3">
          <img src="/{{wapo.profile.new.image}}" alt="..." style="max-width: 200px; max-height: 200px;"/>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label for="name">Name / Company Name</label>
        <input type="text" class="form-control" id="name" ng-model="profile.name" placeholder="Name / Company Name">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" ng-model="profile.email" placeholder="Email">
      </div>
      
      <button id="next_button" class="btn btn-contrast btn-lg fadeInRight animated" style="font-size: medium;" ng-hide="!profile.name || !profile.email" ng-click="next()">Continue</button>
      
      <!--    <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" ng-model="profile.password" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" ng-model="profile.confirm_password" placeholder="Confirm Password">
          </div>-->


      <!--<div class="button" ngf-select="upload($file)">Upload on file select</div>-->

    </div>
  </div>
  
  
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-6" ng-class="{'col-xs-offset-3': !file && !wapo.profile.new.image}">
          <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="2MB" ngf-min-height="100" ngf-resize="{width: 1000, height: 1000}" ngf-resize-if="$width > 1000 || $height > 1000">
            <span class="btn btn-primary btn-block">Choose Image</span>
          </div>
        </div>
        <div class="col-xs-6" ng-if="file">
          <button class="btn btn-warning btn-block" ng-click="clear_image()">Delete</button>
        </div>
        <div class="col-xs-6" ng-if="!file && wapo.profile.new.image">
          <input type="checkbox" id="delete_image" ng-model="delete_image" value="1" /> Delete
        </div>
      </div>
    </div>
<!--    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-6">
          <a class="btn btn-primary btn-block" href="#/profile">Profiles</a>
        </div>
        <div class="col-xs-6">
          <button class="btn btn-warning btn-block" ng-click="clear()">Clear</button>
        </div>
      </div>

    </div>-->
  </div>
</form>