<form>
  <div class="row">
    <div class="col-sm-12 col-md-offset-2 col-md-8">
      
      <div ng-include="'/apps/wp/templates/wapo/includes/navigation.html'"></div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Enter Recipient Phone Numbers</h3>
        </div>
        <div class="panel-body">
          
          <div class="form-group">
            <label>Numbers</label>
            <textarea class="form-control" rows="5" ng-model="numbers" ng-change="change()"></textarea>
            <p class="help-block">Enter 10 digit phone numbers. Area code + number. Allowed formats: (xxx) xxx-xxxx, xxx-xxx-xxxx, xxxxxxxxxx</p>
          </div>
          <div class="well well-sm">
            {{count}} of {{wapo.text.max}}
          </div>

          <div class="form-group">
            <label>Delivery Message</label>
            <textarea class="form-control" rows="5" ng-model="delivery_message"></textarea>
          </div>

          <div class="row">
            <div class="col-xs-6">
              <a class="btn btn-primary btn-block" href="#/delivery">Change Delivery</a>
            </div>
            <div class="col-xs-6">
              <button class="btn btn-warning btn-block" ng-click="clear()">Clear</button>
            </div>
          </div>
          
        </div>
      </div>
    </div>

</form>