<div class="panel panel-default">
  <div class="panel-body">
    
    <div ng-include="'/apps/wp/templates/wapo-download/includes/profile.html'" ng-if="profile"></div>

    <div class="row">
      <div class="col-xs-offset-4 col-xs-4 text-center">
        <!--<md-progress-linear md-mode="indeterminate" ng-show="progress"></md-progress-linear>-->
        <i class="fa fa-spinner fa-spin" ng-show="progress"></i>
        <em>{{message}}</em>
        
        <div ng-if="wapo.marketplace === 'promotion' && url">
          <br />
          <a class="btn btn-default" href="{{url}}" target="_blank">Download Promotion</a>
        </div>
        
        <div ng-if="wapo.marketplace === 'tangocards' && reward.url">
          <br />
          <div ng-if="reward.url">
            <strong>Redemption url </strong> <a href="{{reward.url}}" target="_blank">{{reward.url}}</a>
          </div>
          
          <div>
            <strong>Secret Code: </strong> {{reward.number}}
          </div>          
          
        </div>
        
        <div ng-if="wapo.marketplace === 'tangocards' && !reward.url">
          <br />
          <div>
            <strong>Number: </strong> {{reward.number}}
          </div>
          
          <div ng-if="reward.pin">
            <strong>Pin: </strong> {{reward.pin}}
          </div>
          
        </div>
      </div>
    </div>

    <div ng-include="'/apps/wp/templates/wapo-download/includes/related-products.html'" ng-if="related_product_list.length"></div>

  </div>
</div>