<div class="panel panel-default">
  <div class="panel-heading">
    &nbsp;
  </div>
  <div class="panel-body">

    <div class="row">
      <div class="col-xs-offset-4 col-xs-4 text-center">
        <!--<md-progress-linear md-mode="indeterminate" ng-show="progress"></md-progress-linear>-->
        <i class="fa fa-spinner fa-spin" ng-show="progress"></i>
        <em>{{message}}</em>

        <br />
        <div class="form-group" ng-show="!progress">
          <!--<label for="code">Code</label>-->
          <input type="email" class="form-control" ng-model="email" placeholder="Email">
        </div>
        
        <br />
        <button class="btn btn-primary" ng-click="checkEmail()" ng-show="!progress">
          Send Confirmation Code
        </button>
        
      </div>
    </div>

  </div>
</div>