<div>
  
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row content-boxes-v1 margin-bottom-40" ng-repeat="md_group in md_group_list">
        <div class="col-sm-4 sm-margin-bottom-40" style="cursor: pointer;" ng-repeat="md in md_group" ng-click="setModule(md)">
          <div class="text-right">
            &nbsp; <i class="fa fa-2x fa-check" ng-if="md.id == wapo.module.id"></i>
          </div>
          
          <h2 class="heading-sm">
            <i class="icon-custom icon-md icon-bg-u fa" ng-class="{'fa-gift': css(md.tag, 'gift'), 'fa-bullhorn': css(md.tag, 'announcement')}"></i>
            <span>{{md.name}}</span>
          </h2>
          <p>{{md.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>