<div class="panel panel-default">
  <div class="panel-body">

    <div ng-include="'/apps/wp/templates/wapo-download/includes/profile.html'" ng-if="profile"></div>

    <div class="row">
      <div class="col-xs-12 text-center">
        <!--<md-progress-linear md-mode="indeterminate" ng-show="progress"></md-progress-linear>-->
        <i class="fa fa-spinner fa-spin" ng-show="progress"></i>
        <em>{{message}}</em>

        <br />

        <div class="row" ng-show="!progress">
          <div class="col-xs-6 col-md-offset-2 col-md-4 text-right">
            <div class="form-group" ng-show="!progress">
              <!--<label for="code">Code</label>-->
              <input type="number" class="form-control" ng-model="number" placeholder="Number">
            </div>
          </div>
          <div class="col-xs-6 text-left">
            <button class="btn btn-primary" ng-click="checkNumber()" ng-show="!progress">
              Send Confirmation Code
            </button>
          </div>
        </div>

      </div>
    </div>

    <div ng-include="'/apps/wp/templates/wapo-download/includes/related-products.html'" ng-if="related_product_list.length"></div>

  </div>
</div>