{% extends "apps/wp/templates/base.twig" %}

{% block extra_javascript %}
  
{% endblock extra_javascript %}

{% block extra_css %}
{#  <link href="/apps/wp/static/stepwizard/css/stepwizard.css" rel="stylesheet" media="screen">#}
  <link href="/apps/wp/static/stepwizard/css/stepwizard.css" rel="stylesheet" media="screen">
<style>
blockquote {padding: 1px;}

.stepwizard-step {width: {{ 100 / (step_list|length) }}%;}
</style>
{% endblock extra_css %}

{% block content %}
  
  <div class="row">
    <div class="col-md-2 hidden-xs"></div>
    <div class="col-xs-12">
      <div class="stepwizard">
        <div class="stepwizard-row">

          {% if "modules" in step_list %}
            <div class="stepwizard-step">
              <button type="button" class="btn {% if main_step == "modules" %}btn-primary{% else %}btn-default{% endif %} btn-circle" disabled="disabled">
                <i class="fa fa-list"></i>
              </button>
              <p style="font-size: xx-small;" class="hidden-xs">Modules</p>
            </div>
          {% endif %}

          {% if "profiles" in step_list or "new_profile" in step_list %}
            <div class="stepwizard-step">
              <button type="button" class="btn {% if main_step == "profile" %}btn-primary{% else %}btn-default{% endif %} btn-circle" disabled="disabled">
                <i class="fa fa-user"></i>
              </button>
              <p style="font-size: xx-small;" class="hidden-xs">Profile</p>
            </div>
          {% endif %}

          {% if "announcement" in step_list %}
            <div class="stepwizard-step">
              <button type="button" class="btn {% if main_step == "announcement" %}btn-primary{% else %}btn-default{% endif %} btn-circle" disabled="disabled">
                <i class="fa fa-bullhorn"></i>
              </button>
              <p style="font-size: xx-small;">Announcement</p>
            </div>
          {% endif %}

          {% if "marketplace" in step_list %}
            <div class="stepwizard-step">
              <button type="button" class="btn {% if main_step == "marketplace" %}btn-primary{% else %}btn-default{% endif %} btn-circle" disabled="disabled">
                <i class="fa fa-shopping-cart"></i>
              </button>
              <p style="font-size: xx-small;" class="hidden-xs">Marketplace</p>
            </div>
          {% endif %}

          {% if "delivery" in step_list %}
            <div class="stepwizard-step">
              <button type="button" class="btn {% if main_step == "delivery" %}btn-primary{% else %}btn-default{% endif %} btn-circle" disabled="disabled">
                {% if delivery in ["e", "mailchimp"] %}
                  <i class="fa fa-envelope-o"></i>
                {% elseif delivery in ["stf", "atf"] %}
                  <i class="fa fa-twitter"></i>
                {% elseif delivery in ["aff", "fp"] %}
                  <i class="fa fa-facebook"></i>
                {% else %}
                  <i class="fa fa-gift"></i>
                {% endif %}
              </button>
              <p style="font-size: xx-small;" class="hidden-xs">Share</p>
            </div>
          {% endif %}

          {% if "checkout" in step_list %}
            <div class="stepwizard-step">
              <button type="button" class="btn {% if main_step == "checkout" %}btn-primary{% else %}btn-default{% endif %} btn-circle" disabled="disabled">
                <i class="fa fa-credit-card"></i>
              </button>
              <p style="font-size: xx-small;" class="hidden-xs">Checkout</p>
            </div>
          {% endif %}

          {% if "done" in step_list %}
            <div class="stepwizard-step">
              <button type="button" class="btn {% if main_step == "confirmation" %}btn-primary{% else %}btn-default{% endif %} btn-circle" disabled="disabled">
                <i class="fa fa-check"></i>
              </button>
              <p style="font-size: xx-small;" class="hidden-xs">Confirmation</p>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
    <div class="col-md-2 hidden-xs"></div>
  </div>

  <form class="form" role="form" method="post" action="{{ form.post_url }}">
    
    <div class="row">
{#      <div class="col-md-2 hidden-xs hidden-ms hidden-md"></div>#}
      
      <div class="col-xs-4 col-sm-4 col-md-3">
        {% if form.cancel_url and current_step != "done" %}
          <a id="previous_button" href="{{ form.cancel_url }}" class="btn btn-warning btn-block {% if not form.cancel_url %}disabled{% endif %}" style="font-size: medium;">Back</a>
        {% endif %}
      </div>

      <div class="col-xs-4 col-sm-4 col-md-6"></div>
      
      <div class="col-xs-4 col-sm-4 col-md-3">
        {% if form.post_url and current_step != "done" %}
          <button id="next_button" class="btn btn-primary btn-block {% if not form.post_url %}disabled{% endif %}" style="font-size: medium;">{% if next_step == "done" %}Finish{% else %}Continue{% endif %}</button>
        {% endif %}
      </div>
      
{#      <div class="col-md-2 hidden-xs hidden-sm hidden-md"></div>#}
    </div>
    <br />

    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="{% if sidebar %}col-md-7{% else %}col-md-12{% endif %}">
          {% block main %}{% endblock main %}
        </div>
        {% if sidebar %}
          <div class="col-md-5">
            {% include 'apps/wp/templates/wp/includes/sidebar/sidebar.twig' %}
          </div>
        {% else %}
        {% endif %}
      </div>
      </div>
    </div>
      
</form>
{% endblock content %}