{% extends "apps/wp/templates/base.twig" %}

{% block extrajs %}
  {#  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>#}

  <script src="/themes/theme-blink/static/angular/angular.js"></script>
  <script src="/themes/theme-blink/static/angular/angular-route.js"></script>
  <script src="/themes/theme-blink/static/angular/angular-resource.js"></script>
  <script src="/themes/theme-blink/static/angular/angular-animate.js"></script>
  <script src="/themes/theme-blink/static/angular/angular-aria.js"></script>
  <script src="/themes/theme-blink/static/angular/angular-cookies.js"></script>

  <script src="/themes/theme-blink/static/angular-material/angular-material.min.js"></script>

  <script src="/themes/theme-blink/static/ng-file-upload/ng-file-upload.js"></script>
  
  <script src="/themes/theme-blink/static/ui-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <script src="/apps/wp/static/wapo/wapo.js"></script>

  {% block sub_extra_js %}

  {% endblock sub_extra_js %}
{% endblock extrajs %}

{% block extracss %}
  {#  <link href="/apps/wp/static/stepwizard/css/stepwizard.css" rel="stylesheet" media="screen">#}
  <link href="/apps/wp/static/stepwizard/css/stepwizard.css" rel="stylesheet" media="screen">
  <link href="/themes/theme-blink/static/angular-material/angular-material.min.css" rel="stylesheet" media="screen">
  <style>
    blockquote {padding: 1px;}

    .stepwizard-step {width: {{ 100 / 5 }}%;}
  </style>
{% endblock extracss %}

{% block content %}
  <div style="width: 100%;" ng-app="wapoApp" ng-controller="MainCtrl">
    <div class="row">
      <div class="col-md-2 hidden-xs"></div>
      <div class="col-xs-12">
        <div class="stepwizard">
          <div class="stepwizard-row">

            {#<div class="stepwizard-step">
              <button type="button" class="btn {% if main_step == "modules" %}btn-primary{% else %}btn-default{% endif %} btn-circle" disabled="disabled">
                <i class="fa fa-list"></i>
              </button>
              <p style="font-size: xx-small;" class="hidden-xs">Modules</p>
            </div>#}

            <div class="stepwizard-step">
              <button type="button" class="btn btn-circle" ng-class="{'btn-primary': progress > 0}" disabled="disabled">
                <i class="fa fa-user"></i>
              </button>
              <p style="font-size: xx-small;" class="hidden-xs">Profile</p>
            </div>

            {#<div class="stepwizard-step">
              <button type="button" class="btn {% if main_step == "announcement" %}btn-primary{% else %}btn-default{% endif %} btn-circle" disabled="disabled">
                <i class="fa fa-bullhorn"></i>
              </button>
              <p style="font-size: xx-small;">Announcement</p>
            </div>#}

            <div class="stepwizard-step">
              <button type="button" class="btn btn-circle" ng-class="{'btn-primary': progress > 1}" disabled="disabled">
                <i class="fa fa-shopping-cart"></i>
              </button>
              <p style="font-size: xx-small;" class="hidden-xs">Marketplace</p>
            </div>

            <div class="stepwizard-step">
              <button type="button" class="btn btn-circle" ng-class="{'btn-primary': progress > 2}" disabled="disabled">
                <i class="fa fa-envelope" ng-if="wapo.delivery == 'email' || wapo.delivery == 'email-list' || wapo.delivery == 'mailchimp'"></i>
                <i class="fa fa-twitter" ng-if="wapo.delivery == 'any-twitter-followers' || wapo.delivery == 'select-twitter-followers'"></i>
                <i class="fa fa-facebook" ng-if="wapo.delivery == 'any-facebook-friends' || wapo.delivery == 'facebook-page'"></i>
                <i class="fa fa-mobile" ng-if="wapo.delivery == 'text'"></i>
                <i class="fa fa-gift" ng-if="!wapo.delivery"></i>
              </button>
              <p style="font-size: xx-small;" class="hidden-xs">Share</p>
            </div>

            <div class="stepwizard-step">
              <button type="button" class="btn btn-circle" ng-class="{'btn-primary': progress > 3}" disabled="disabled">
                <i class="fa fa-credit-card"></i>
              </button>
              <p style="font-size: xx-small;" class="hidden-xs">Checkout</p>
            </div>

            <div class="stepwizard-step">
              <button type="button" class="btn btn-circle" ng-class="{'btn-primary': progress > 4}" disabled="disabled">
                <i class="fa fa-check"></i>
              </button>
              <p style="font-size: xx-small;" class="hidden-xs">Confirmation</p>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-2 hidden-xs"></div>
    </div>

    <div ng-view></div>
  </div>
{% endblock content %}