{% extends "apps/wp/templates/wp/form.twig" %}

{% block main %}

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <ul class="nav nav-pills nav-justified" id="delivery_tabs">
            <li class="active"><a href="#ffa" data-toggle="tab">Free For All</a></li>
            <li><a href="#email" data-toggle="tab">Email</a></li>
            <li><a href="#text" data-toggle="tab">Text</a></li>
            <li><a href="#facebook" data-toggle="tab">Facebook</a></li>
            <li><a href="#twitter" data-toggle="tab">Twitter</a></li>
{#            <li><a href="#instagram" data-toggle="tab">Instagram</a></li>#}
          </ul>
        </div>
      </div>
      <div class="row">
{#        <div class="col-xs-4"></div>#}
          
        <div class="col-xs-12">
          <div class="tab-content">
            <div class="tab-pane active" id="ffa">
              <h5>Free for all</h5>
              <div class="list-group">
                <div href="#" class="list-group-item">
                  <p class="list-group-item-text">Create a link that you can distribute in any medium you choose. Set a cap to limit how many Wapo(s) are sent.</p>
                  <p>
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="delivery" value="ffa" {% if delivery == "ffa" %}checked{% endif %} {% if "ffa" not in deliveries %}disabled{% endif %} /> <b>Select</b>
                    </label>
                  </div>
                  </p>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="email">
              <h5>Email</h5>
              <div class="list-group">
                <div href="#" class="list-group-item">
                  <p class="list-group-item-text">Send a Wapo to an email or email list. Each user must authenticate through their email to confirm account.</p>
                  <p>
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="delivery" value="e" {% if delivery == "e" %}checked{% endif %} {% if "e" not in deliveries %}disabled{% endif %} /> <b>Select</b>
                    </label>
                  </div>
                  </p>
                </div>
              </div>

              <h5>Email List</h5>
              <div class="list-group">
                <div href="#" class="list-group-item">
                  <p class="list-group-item-text">Send a Wapo to a list of emails.</p>
                  <p>
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="delivery" value="el" {% if delivery == "el" %}checked{% endif %} {% if "el" not in deliveries %}disabled{% endif %} /> <b>Select</b>
                    </label>
                  </div>
                  </p>
                </div>
              </div>
                    
              <h5>MailChimp</h5>
              <div class="list-group">
                <div href="#" class="list-group-item">
                  <p class="list-group-item-text">Log in to your MailChimp account and send emails to your list.</p>
                  <p>
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="delivery" value="mailchimp" {% if delivery == "mailchimp" %}checked{% endif %} {% if "mailchimp" not in deliveries %}disabled{% endif %} /> <b>Select</b>
                    </label>
                  </div>
                  </p>
                </div>
              </div>
            </div>
                    
            <div class="tab-pane" id="text">
              <h5>Text</h5>
              <div class="list-group">
                <div href="#" class="list-group-item">
                  <p class="list-group-item-text">Send a Wapo to Phone number(s).</p>
                  <p>
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="delivery" value="text" {% if delivery == "text" %}checked{% endif %} {% if "text" not in deliveries %}disabled{% endif %} /> <b>Select</b>
                    </label>
                  </div>
                  </p>
                </div>
              </div>
            </div>
                    
            <div class="tab-pane" id="facebook">
              <h5>Facebook Friends</h5>
              <div class="list-group">
                <div href="#" class="list-group-item">
                  <p class="list-group-item-text">Login to Facebook to send a wapo to any of your Friends. Buy the maximum number of Wapos and any of your friends can download the wapos up to the maximum. Anyone who clicks on link must be validated (they must log in through Facebook) and validated to be your friend.</p>
                  <p>
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="delivery" value="aff" {% if delivery == "aff" %}checked{% endif %} {% if "aff" not in deliveries %}disabled{% endif %} /> <b>Select</b>
                    </label>
                  </div>
                  </p>
                </div>
              </div>

              {#<h4>Friends</h4>
              <div class="list-group">
                <div href="#" class="list-group-item">
                  <p class="list-group-item-text">Login to Facebook to send a wapo to selected Friends. Message will be delivered as a mention (<a href="#">more</a>) and only the friends you select are able to download. Anyone who clicks on link must be validated (they must log in through Facebook) and validated to be your friend.</p>
                  <p>
                    <div class="checkbox">
                      <label>
                        <input type="radio" name="delivery" value="sff" {% if delivery == "sff" %}checked{% endif %} /> <b>Select</b>
                      </label>
                    </div>
                  </p>
                </div>
              </div>#}

              <h5>Facebook Pages</h5>
              <div class="list-group">
                <div href="#" class="list-group-item">
                  <p class="list-group-item-text">Login to Facebook to send a wapo to page followers. Buy a maximum number of Wapos you would like to send and anyone who has liked your page can download the wapo. Anyone who clicks on link must be validated (they must log in through Facebook) and validated to like your page.</p>
                  <p>
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="delivery" value="fp" {% if delivery == "fp" %}checked{% endif %} {% if "fp" not in deliveries %}disabled{% endif %} /> <b>Select</b>
                    </label>
                  </div>
                  </p>
                </div>
              </div>
              {#      <div class="list-group">
                      <div href="#" class="list-group-item">
                        <h5 class="list-group-item-heading">Page Followers</h5>
                        <p class="list-group-item-text">Login to Facebook to attach one of your pages to a Wapo. Anyone who clicks on the link must be validated (they must log in through Facebook) and validated that they follow this page.</p>
                        <p><a href="">Choose</a></p>
                      </div>
                    </div>#}
            </div>
            <div class="tab-pane" id="twitter">
              <h5>Twitter Followers</h5>
              <div class="list-group">
                <div href="#" class="list-group-item">
                  <p class="list-group-item-text">Login through Twitter and post a link for a Wapo. Buy the maximum number of Wapos for any of your followers to download. Only your followers (Authenticated and confirmed) can download the Wapo.</p>
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="delivery" value="atf" {% if delivery == "atf" %}checked{% endif %} {% if "atf" not in deliveries %}disabled{% endif %} /> <b>Select</b>
                    </label>
                  </div>
                  </p>
                </div>
              </div>
                    
              <h5>Selected Twitter Followers</h5>
              <div class="list-group">
                <div href="#" class="list-group-item">
                  <p class="list-group-item-text">Login through Twitter and post a link for a Wapo. Only the selected followers (Authenticated and confirmed) can download the Wapo.</p>
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="delivery" value="stf" {% if delivery == "stf" %}checked{% endif %} {% if "stf" not in deliveries %}disabled{% endif %} /> <b>Select</b>
                    </label>
                  </div>
                  </p>
                </div>
              </div>
            </div>
            {#<div class="tab-pane" id="instagram">
              <h4>Instagram</h4>
              <div class="list-group">
                <div href="#" class="list-group-item">
                  <h5 class="list-group-item-heading">Any Followers</h5>
                  <p class="list-group-item-text">Login through Instagram and post a link for a Wapo. Buy the maximum number of Wapos for any of your followers to download. Only your followers (Authenticated and confirmed) can download the Wapo.</p>
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="delivery" value="aif" {% if delivery == "aif" %}checked{% endif %} /> <b>Select</b>
                    </label>
                  </div>
                </div>
                <div href="#" class="list-group-item">
                  <h5 class="list-group-item-heading">Followers</h5>
                  <p class="list-group-item-text">Login through Instagram and post a link for a Wapo. Only the selected followers (Authenticated and confirmed) can download the Wapo.</p>
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="delivery" value="sif" {% if delivery == "sif" %}checked{% endif %} /> <b>Select</b>
                    </label>
                  </div>
                </div>
              </div>
            </div>#}
          </div>
        </div>
      </div>
    </div>
  </div>
<input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token}}" />
  <script>
    $(document).ready(function() {
    {% if delivery in ['e', 'el', 'mailchimp'] %}
      $('#delivery_tabs a[href="#email"]').tab('show');
    {% elseif delivery in ['aff', 'fp'] %}
      $('#delivery_tabs a[href="#facebook"]').tab('show');
    {% elseif delivery in ['atf', 'stf'] %}
      $('#delivery_tabs a[href="#twitter"]').tab('show');
    {% elseif delivery in ['aif', 'sif'] %}
      $('#delivery_tabs a[href="#instagram"]').tab('show');
    {% endif %}
    });
  </script>
{% endblock main %}