{% extends "apps/wp/templates/wp/form.twig" %}

{% block main %}
  <div class="list-group">
    <div class="list-group-item">
      <div class="list-group-item-text">
        {% for field in form.visible %}
          {{ field.field|raw }}
        {% endfor %}

        {% for field in form.hidden %}
          {{ field.field|raw }}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="row">
    <div id="wepay_checkout" class="col-xs-12"></div>
  </div>

  {#<script type="text/javascript" src="https://www.wepay.com/min/js/iframe.wepay.js"></script>
  <script>
    $(function () {
      $('#next_button').addClass('disabled');
      $('#previous_button').addClass('disabled');

      // Set the wepay.
      WePay.iframe_checkout("wepay_checkout", "{{checkout.checkout_uri}}");
    });
  </script>#}
  
  <script>
    $(function() {
      location.href = '{{checkout.checkout_uri}}';
    });
  </script>

{% endblock main %}