{% extends "apps/wapo/templates/dashboard/base.twig" %}

{% block extra_javascript %}
{#  <script src="/wapo/templates/static/js/facebook.js"></script>#}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          {% if profile.image.name %}
            <img src="http://placehold.it/1040x200" alt="..." class="img">
          {% else %}
            <img src="http://placehold.it/1040x200" alt="..." class="img">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
        <h2>{{ profile.name }}</h2>
  
        <div class="row">
          <div class="col-xs-4">
            <div class="panel panel-default">
              <div class="panel-body text-center">
                <h3>{{ promotion.name }}</h3>
                <p style="text-align: justify;">{{ promotion.description }} Rise of Incarnates is set in a world suffering from a catastrophic event dubbed as the "cube phenomena": meteorites falling from the sky and massive cold fronts sweeping across the land have led the people in the planet to live in a state of perpetual fear. Among the people are those known as "Incarnates"-- humans who can draw powers from daimones; spirit manifestations of the gods, demons, and monsters from all of the world's mythologies. General public fear incarnates for their supernatural powers, while the authorities attempt to harness their powers for their own deeds. A battle of dominance between each Incarnates is triggered when one day, an enigmatic voice speaks in the mind of every incarnates, requiring them to defeat the "Sovereign of this era" to avoid a certain destruction.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="panel panel-default">
              <div class="panel-body text-center">
                <button class="btn btn-primary btn-lg btn-block" type="button">Download!</button>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="panel panel-default">
              <div class="panel-body text-center">
                Social Links
                <br /><br /><br />
              </div>
            </div>
            
            <div class="panel panel-default">
              <div class="panel-body text-center">
                Products???
                <br /><br /><br /><br />
              </div>
            </div>
          </div>
        </div>
{% endblock %}